@columns: 10;
@margin: 2%;
@width: (100% - @margin * (@columns - 1)) / @columns;

@color-1: #D7503C;
@color-2: #FFB454;
@color-3: #43AE88;
@color-4: #3CADD7;
@color-5: #266B85;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Terminus";
  src: url("TerminusTTF-4.39.ttf");
}

@import url(https://fonts.googleapis.com/css?family=Inconsolata|Raleway:200);

body {
  width: 100%;
  margin: auto;
}

.title h1 {
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 15pt;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 1em 0;
  border-bottom: 1px dotted white;
  margin-bottom: 1em;
}

.command {
  font-family: 'Inconsolata';
  background: black;
  color: white;

  dd {
    height: 0;
    overflow: hidden;
  }
}

.container {
  position: relative;
  width: 98%;
  margin: 0 auto;
  box-sizing: border-box;
}

@pad-v: 3px;
@pad-h: 20px;
@height: 12px;

.columns {
  float: left;
  box-sizing: border-box;
  padding: @pad-v @pad-h;
  margin-bottom: 3px;
}

.to-left:after,
.to-right:after {
  content: '';
  position: relative;
  display: block;
  width: 0;
  height: 0;
  margin-top: @pad-v - 2*@height + 1px;
  margin-bottom: -2*@pad-v;
  margin-left: -2*@height;
  border: @height solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.to-left:after {
  border-left-color: transparent;
  float: left;
  left: -19px;
}

.to-right:after {
  border-right-color: transparent;
  float: right;
  right: -43px;
}

.local {
  background: fade(black, 80%);
}

.arrow-color(@color) {
  background: @color;
  &.to-left:after {border-right-color: @color}
  &.to-right:after {border-left-color: @color}
}

.from-first.to-left,
.first  {
  .arrow-color(fade(darken(@color-1, 20%), 80%));
}
.from-second.to-left,
.from-first.to-right.one,
.second {
  .arrow-color(fade(darken(@color-2, 20%), 80%));
}
.from-third.to-left,
.from-first.to-right.two,
.from-second.to-right.one,
.third  {
  .arrow-color(fade(darken(@color-3, 20%), 80%));
}
.from-fourth.to-left,
.from-third.to-right.one,
.from-second.to-right.two,
.from-first.to-right.three,
.fourth {
  .arrow-color(fade(darken(@color-4, 20%), 80%));
}
.from-fourth.to-right.one,
.from-third.to-right.two,
.from-second.to-right.three,
.fifth  {
  .arrow-color(fade(darken(@color-5, 20%), 80%));
}

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

.columns {
  margin-left: 2%;
}
.columns:first-child {
  margin-left: 0;
}

.container {
  background: linear-gradient(to right,
    @color-1 0%, @color-1 @width*2 + @margin,
    transparent @width*2 + @margin, transparent @width*2 + @margin*2,
    @color-2 @width*2 + @margin*2, @color-2 @width*4 + @margin*3,
    transparent @width*4 + @margin*3, transparent @width*4+@margin*4,
    @color-3 @width*4+@margin*4, @color-3 @width*6 + @margin*5,
    transparent @width*6 + @margin*5, transparent @width*6 + @margin*6,
    @color-4 @width*6 + @margin*6, @color-4 @width*8 + @margin*7,
    transparent @width*8 + @margin*7, transparent @width*8 + @margin*8,
    @color-5 @width*8 + @margin*8, @color-5 100%
  );
}

.one.columns           { width: @width*2 + @margin; }
.two.columns           { width: @width*4 + @margin*3; }
.three.columns         { width: @width*6 + @margin*5; }
.four.columns          { width: @width*8 + @margin*7; }

.from-first.columns    { margin-left: @width + @margin; }
.from-second.columns   { margin-left: @width*3 + @margin*3; }
.from-third.columns    { margin-left: @width*5 + @margin*5; }
.from-fourth.columns   { margin-left: @width*7 + @margin*7; }

.second.columns        { margin-left: @width*2 + @margin*2; }
.third.columns         { margin-left: @width*4 + @margin*4; }
.fourth.columns        { margin-left: @width*6 + @margin*6; }
.fifth.columns         { margin-left: @width*8 + @margin*8; }
